@model IEnumerable<CondourApp.PlotDetailsInfo>


<div class="card-box">
    <div class="row">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PlotNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Area)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocumentNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YearOfRegistration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegistrationOffice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlotDocumentPhoto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nominee)
                </th>
               
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlotNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearOfRegistration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationOffice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlotDocumentPhoto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nominee)
                </td>
                

            </tr>
            }

        </table>
    </div>

</div>
@Html.ActionLink("Back to List", "GetUsers", "Admin", new { @class = "btn btn-primary" }, null)
